.wraper {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'header header header header'
    'menu content content content'
    'footer footer footer footer';

}

.header {
    background: grey;
    height: 60px;
    grid-area: header;
}


.menu {
    text-align: center;
    background: blue;
grid-area: menu;
}

.content {
    background: violet;
    text-align: center;
grid-area: content;
}

.footer {
    background: darkgreen;
    height: 30px;
grid-area: footer;
}